nav {
  width: 100%;
  color: #fff;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  width: 180px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.dark-nav {
  background: #212EA0;
  transition: 0.5s;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #212EA0;
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  nav ul.active {
    transform: translateX(0);
  }

  nav ul li {
    margin: 15px 0;
    text-align: center;
  }
}
