.campus {
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
}

.gallery img {
    width: calc(25% - 10px);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .gallery img {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .gallery img {
        width: calc(100% - 10px);
    }
}
